/*start var*/
:root {
  --main-transition: 0.3s;
  --main-color: #162938;
}
/*end var*/
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .head {
    box-shadow: 0 0 10px var(--main-color);
    padding-bottom: 30px;
  }
}
.head .container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .head .container {
    flex-direction: column;
  }
}
.head .container h2 {
  font-size: 30px;
  margin: 25px 0;
  color: white;
}
.head .container nav a {
  color: white;
  font-weight: 600;
  position: relative;
  font-size: 18px;
}
@media (max-width: 767px) {
  .head .container nav a {
    font-size: 16px;
  }
}
.head .container nav a:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .head .container nav a:not(:last-child) {
    margin-right: 10px;
  }
}
.head .container nav a:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: transform var(--main-transition);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
}
.head .container nav a:not(:last-child):hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.head .container nav a:last-child {
  transition: var(--main-transition);
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .head .container nav a:last-child {
    padding: 5px 15px;
  }
}
.head .container nav a:last-child:hover {
  background-color: white;
  color: var(--main-color);
}
.wrapper {
  width: 400px;
  background-color: transparent;
  border: 2px solid rgb(255 255 255 / 50%);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  color: var(--main-color);
  border-radius: 20px;
  padding: 30px 40px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .wrapper {
    width: 380px;
    margin-top: 130px;
  }
}
.wrapper form > a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 20px;
  background-color: var(--main-color);
  border-bottom-left-radius: 20px;
}
.wrapper form > a i {
  color: white;
  font-size: 20px;
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin: 0;
}
.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
  position: relative;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--main-color);
  font-size: 16px;
  color: var(--main-color);
  padding: 20px 45px 20px 10px;
  position: relative;
  transition: var(--main-transition);
}
.input-box input:focus {
  border-bottom-color: var(--main-color);
}
.input-box label {
  color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: var(--main-transition);
  font-weight: 600;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .remember-forget {
  display: flex;
  justify-content: space-between;
  margin: -10px 0 20px;
  font-weight: 500;
}
.wrapper .remember-forget label input {
  accent-color: var(--main-color);
  margin-right: 3px;
}
.wrapper .remember-forget a {
  color: var(--main-color);
}
.wrapper .remember-forget a:hover {
  text-decoration: underline;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: var(--main-color);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.wrapper .register {
  text-align: center;
  margin: 20px 0 15px;
  font-weight: 500;
}
.wrapper .register p {
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .wrapper .register p {
    color: white;
  }
}
.wrapper .register p a {
  color: var(--main-color);
}
.wrapper .register p a:hover {
  text-decoration: underline;
}
